@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div>@Model.username</div>

<form class="col-4">
    <div class="py-3 form-control">
        <label for="username">Enter Username:</label>
        <input type="text" name="username" id="username" />
    </div>
    
    <div class="py-3 form-control">
        <label for="password">Enter Password:</label>
        <input type="password" name="password" id="password" />
    </div>
    <button type="submit" class="btn btn-primary form-control">Log-in</button>
</form>