@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


@if(Model.Users != null)
{
    @foreach (var user in Model.Users)
    {
        if (user != null)
        {
            <div>@user.Username</div>
        }
    }
}
